body {
    color: hsl(58, 34%, 71%);
    background: hsl(37, 72%, 69%);
    margin: 0px;
}

header {
    border-bottom: solid 2px hsl(0, 65%, 75%);
    padding: 20px;
    font-size: 32px;
    color: #a5efba;
}

.chamada {
    background: hsl(111, 90%, 76%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

footer {
    background-color: #e399ec;
    color: hsl(207, 100%, 78%);
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}

